<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-img src="/assets/logo.png" alt="logo alcool ou gasolina"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <h4> Saiba qual a melhor opção para abastecimento do seu carro.
        </h4>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Preço Álcool, ex: 1,90</ion-label>
          <ion-input type="number" [(ngModel)]="precoAlcool"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Preço Gasolina, ex: 2,90</ion-label>
          <ion-input type="number" [(ngModel)]="precoGasolina"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row size="6"  class="ion-justify-content-center">
      <ion-button shape="round" fill="outline" (click)="calcular()" >
        Calcular
        </ion-button>
    
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <h5 class="ion-text-center"> {{ resultado }} </h5>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>